body {
    margin: 0;
}

section {
    min-height: 650px;
    height: 100%;
}

@import "layouts/header";
@import "layouts/greeting";
@import "layots/arrow";

@import "best/bestTitle";
@import "best/bestList";

@import "reviews/reviewsList";
@import "reviews/reviewsDescription";

@import "reviews/paginator";

@import "reviews/team";
@import "reviews/teamAcco";

@import "menu/menu";

@import "contacnts/contacts";
@import "contacnts/footer";

@import "form/form";
@import "form/formContent";

@import "slider/slider";




  


