body {
    margin: 0;
}

section {
    min-height: 650px;
    height: 100%;
}

.intro {
    background-image: url("../img/backgroung/video-bg.jpg");
    background-size: cover;
}

.container {
    width: 940px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    
}

.logo__img {
    margin-top: 12px;
}

.nav {
    display: flex;
    align-items: center;
}
.nav-list {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    color: white;
}

.nav__item {
    margin-right: 37px; 

    &:last-child {
        margin-right: 17px;
    }
}

.nav__link {
    color: white;
    width: 510px;
    height: 11px;
    color: #ffffff;
    font-family: Ubuntu;
    font-size: 13px;
    font-weight: 500;
    line-height: 30px;
    text-transform: uppercase;
    text-decoration: none;

}

.nav__button {
    width: 97px;
    height: 35px;
    background-color: #c1401e;
    border-radius: 5px;
    color: #ffffff;
    font-family: Ubuntu;
    font-size: 13px;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    padding-top: 13px; 
}

.greeting__container {
    display: flex;
    align-items: center;
}

.greeting__column {
    flex: 1;
}
.greeting__title {
   /* margin-top: 228px;*/
    display: flex;
    flex-direction: column;
    height: 220px;
    width: 400px;
}


.greeting__title_type-orange {
    color: #f9b43b;
    font-family: Gagalin;
    font-size: 72px;
    font-weight: 400;
    line-height: 85px;
}

.greeting__title_type-white {
    width: 406px;
    height: 213px;
    color: #ffffff;
    font-family: Lifehack;
    font-size: 65px;
    font-weight: 500;

}
.greeting__image-drops {
    position: absolute;
    top: 144px;
    
}

.arrow {
    display: flex;
    justify-content: center;
    margin-top: 95px;
}

.arrow__image {
    position: absolute;
}

.best {
    background-image: url("../img/backgroung/bg.png");
    background-size: cover;
    display: flex;
    align-items: center;
}

.best__container {
    display: flex;
    flex-direction: column;
}
.section__title {
    text-align: center;
    color: #2f3234;
    font-family: Gagalin;
    font-size: 72px;
    font-weight: 400;
    padding-bottom: 57px;
    margin-top: 0;
   
}

.best-list {
    padding: 0;
    margin: 0;
    display: flex;
    flex: 3;
    list-style-type: none;
    text-align: center;
    
    
}

.list__item {
    text-align: center;
}

.best__subtitle {
    color: #2f3234;
    font-family: Lifehack;
    font-size: 24px;
    font-weight: 500;
    line-height: 28.14px;
    letter-spacing: -0.6px;
}

.reviews {
    min-height: 650px;
    height: 100%;
}

.reviews-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    height: 100%;
    flex-wrap: wrap; 
}
  
  .reviews__item {
    width: 25%;
    height: 50%;
    background-size: cover; 
}

.reviews__description {
    margin: 90px 20px 102px 20px;
}
  
  .reviews__description {
    visibility: hidden; 
    color: #ffffff;
    font-family: Ubuntu;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
}
  
  .reviews__item:hover .reviews__description {
    visibility: visible; 
}

.reviews__link {
    width: 110px;
    height: 35px;
    background-color: #2f3234;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 13px 15px 13px 11px;
}
  
.number__page_list {
	position: fixed;
    top: 90px;
    right: 49px;
    z-index: 50;
}

li.number__page_list_item {
	display: block;
    color: #fff;
    margin-bottom: 15px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #fff;
    z-index: 300;
    position: relative;
}


