html, body {
  height: 100%; }

body {
  margin: 0; }

section {
  min-height: 650px;
  height: 100%; }

.wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  min-width: 960px;
  min-height: 100%; }

.class {
  font-size: 2.71429rem; }

.intro {
  background-image: url("../img/backgroung/video-bg.jpg");
  background-size: cover; }

.container {
  width: 67.14286rem;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  @media (max-width: 479px) {
    .container {
      width: 95%; } }

.logo__img {
  margin-top: 12px; }

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0; }
  @media (max-width: 479px) {
    .nav-list {
      display: none; } }

.nav__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .nav__item:last-child {
    margin-right: 17px; }
  .nav__item:before {
    content: "";
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: #fff;
    display: block;
    margin: 0 20px; }
  .nav__item:first-child:before {
    display: none; }

.nav__link {
  color: #ffffff;
  font-family: 'ubuntubold';
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none; }

.greeting {
  width: 95%; }

.greeting__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.greeting__column {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1; }

.greeting__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: 100px; }

.greeting__title_type-orange {
  color: #f9b43b;
  font-family: 'gagalinregular';
  font-size: 72px;
  font-weight: 400;
  line-height: 85px; }

.greeting__title_type-white {
  width: 406px;
  height: 213px;
  color: #ffffff;
  font-family: Lifehack;
  font-size: 65px;
  font-weight: 500; }

.greeting__image-drops {
  position: absolute;
  top: 144px; }

.greeting {
  width: 940px;
  margin: 0 auto;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1; }
  @media (max-width: 479px) {
    .greeting {
      width: 95%; } }

.intro__arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.arrow {
  margin-top: 95px; }

.arrow__image {
  position: absolute; }

.order {
  background-color: #c1401e;
  border-radius: 5px;
  color: #ffffff;
  font-family: Ubuntu;
  font-size: 13px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  padding: 13px 16px 13px 15px; }

.best {
  background-image: url("../img/backgroung/bg.png");
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.best__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.section__title {
  text-align: center;
  color: #2f3234;
  font-family: Gagalin;
  font-size: 72px;
  font-weight: 400;
  margin-top: 103px; }

.best-list {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  text-align: center; }

.best__item {
  text-align: center;
  padding-bottom: 57px; }

.best__subtitle {
  color: #2f3234;
  font-family: Lifehack;
  font-size: 24px;
  font-weight: 500;
  line-height: 28.14px;
  letter-spacing: -0.6px; }

.best__description {
  opacity: 0.8;
  color: #2f3234;
  font-family: Ubuntu;
  font-weight: 300;
  line-height: 24.02px; }

.best__container {
  width: 940px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.reviews {
  min-height: 650px;
  height: 100%; }

.reviews-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.reviews__item {
  width: 25%;
  height: 50%;
  background-size: cover; }
  .reviews__item:hover .reviews__description {
    opacity: 1; }

.reviews__description {
  visibility: hidden;
  color: #ffffff;
  font-family: Ubuntu;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  margin: 90px 20px 102px 20px; }

.reviews__name {
  color: #ffffff;
  font-family: Gagalin;
  font-size: 24px;
  font-weight: 400;
  line-height: 28.11px; }

.reviews__item:hover .reviews__description {
  visibility: visible; }

.reviews__link {
  width: 110px;
  height: 35px;
  background-color: #2f3234;
  border-radius: 5px;
  text-decoration: none;
  color: white;
  text-align: center;
  text-decoration: none;
  padding: 13px 15px 13px 11px; }

.number__page_list {
  position: fixed;
  top: 90px;
  right: 49px;
  z-index: 50; }
  @media (max-width: 479px) {
    .number__page_list {
      display: none; } }

li.number__page_list_item {
  display: block;
  color: #fff;
  margin-bottom: 15px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #fff;
  z-index: 300;
  position: relative; }

.team {
  background-image: url("../img/backgroung/team-bg.png");
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }

.team-content {
  background-image: url("..img/backgroung/rectangle.png");
  position: absolute;
  width: 540px;
  height: 650px;
  background-color: #2f3234;
  opacity: 0.93;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.team__container {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-left: 5rem; }
  @media (max-width: 479px) {
    .team__container {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; } }

.title__team {
  color: #f9b43b;
  font-family: Gagalin;
  font-size: 72px;
  font-weight: 400; }

.accordeon__item {
  list-style-image: url("../img/icons/polygon.png");
  /*padding-bottom: 40px;*/ }

.accordeon__name_title {
  color: #ffffff;
  font-family: Gagalin;
  font-size: 14px;
  font-weight: 400;
  line-height: 28.13px; }

.accordeon__block_team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 95px; }

.accordeon__block_team_hidden {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 95px;
  display: none;
  overflow: hidden; }

accordeon__block_team_hidden {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 95px; }

.accordeon__photo {
  width: 100px;
  height: 100px;
  margin-right: 21px; }

.accordeon__description {
  width: 208px;
  color: #ffffff;
  font-family: Ubuntu;
  font-size: 14px;
  font-weight: 300;
  line-height: 24.01px; }

.menu {
  background-image: url("../img/backgroung/burger-bg.png");
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.menu-title {
  color: #ffffff;
  font-family: Gagalin;
  font-size: 72px;
  font-weight: 400;
  line-height: 64px;
  margin-top: 111px;
  margin-left: 94px; }

.menu-list {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0; }

.menu__item {
  width: 80px;
  height: 650px; }

.menu__item_description {
  width: 200px;
  height: 650px;
  width: 222px;
  height: 133px;
  color: #ffffff;
  font-family: Ubuntu;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  display: none;
  overflow: hidden; }

.menu__item_title {
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
  color: #ffffff;
  font-family: Gagalin;
  font-size: 40px;
  font-weight: 400;
  line-height: 63.75px;
  margin-top: 510px;
  white-space: nowrap; }

.contancts {
  background-image: url("../img/backgroung/card.png");
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end; }

.footer {
  background-image: url("../img/content/chalkboard.png");
  width: 100%;
  background-size: cover; }

.footer__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /*align-items: center;*/
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: 10px; }

.footer__adress {
  color: #ffffff;
  font-family: Ubuntu;
  font-size: 14px;
  margin: 0; }

.footer__phone {
  color: #e45028;
  font-weight: 700; }

.icon__list {
  width: 142px;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none; }

.icon__image {
  padding-right: 20px; }

.icon {
  display: inline-block;
  vertical-align: middle;
  margin-right: 20px;
  fill: grey;
  width: 25px;
  height: 23px;
  opacity: 0.3;
  /* &:first-child {
        margin-right: 0;
    }*/ }
  .icon:hover {
    fill: #fff; }

.form {
  background-image: url("../img/backgroung/form-bg.png");
  background-size: cover;
  padding-top: 40px;
  height: 100%; }

.form-container {
  width: 940px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.form__colunm {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1; }

.form__title {
  color: #fff;
  display: inline-block; }

.form__block {
  display: block;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-right: 40px; }

.form__block_radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 150px;
  white-space: nowrap; }

.form__block_checked {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 150px;
  white-space: nowrap; }

.form__row {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.form__input {
  padding: 10px;
  background: #fff;
  border: none;
  border-radius: 5px;
  width: 100%; }

.section-title {
  text-align: center;
  color: #f9b43b;
  font-family: Gagalin;
  font-size: 72px;
  margin: 0;
  margin-bottom: 51px; }

.comment {
  height: 95px; }

.clear {
  color: #ffffff;
  font-family: Ubuntu;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  margin-left: 20px; }

.icon__phone {
  width: 12px;
  height: 11px;
  fill: #e45028; }

.footer__link_phone {
  text-decoration: none;
  color: #e45028;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.slider {
  background-image: url(../img/backgroung/bg-slider.png);
  background-size: cover; }

.slider-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1009px;
  height: 457px;
  margin: 0 auto;
  /*text-align: center;*/
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.slider__burger {
  margin-top: 167px; }

.slider__description {
  width: 495px;
  height: 355px;
  margin-top: 145px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  /*justify-content: space-between;*/ }

.slider__description_title {
  color: #ffffff;
  font-family: Gagalin;
  font-size: 72px;
  font-weight: 400;
  line-height: 63.93px;
  padding-bottom: 56px; }

.slider__description_content {
  color: #ffffff;
  font-family: Ubuntu;
  font-size: 14px;
  font-weight: 300;
  line-height: 23.97px;
  padding-bottom: 36px; }

.slider__order {
  width: 330px;
  height: 62px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.slider__order_price {
  color: #e35028;
  font-family: Gagalin;
  font-size: 30px;
  font-weight: 400;
  line-height: 28.08px; }

.amount_price {
  font-size: 72px;
  letter-spacing: -1.79px;
  letter-spacing: -0.75px; }
