body {
  margin: 0; }

section {
  min-height: 650px;
  height: 100%; }

.intro {
  background-image: url("../img/backgroung/video-bg.jpg");
  background-size: cover; }

.container {
  width: 940px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.logo__img {
  margin-top: 12px; }

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  color: white; }

.nav__item {
  margin-right: 37px; }
  .nav__item:last-child {
    margin-right: 17px; }

.nav__link {
  color: #ffffff;
  font-family: Ubuntu;
  font-size: 13px;
  font-weight: 500;
  line-height: 30px;
  text-transform: uppercase;
  text-decoration: none; }

.nav__button {
  width: 97px;
  height: 35px;
  background-color: #c1401e;
  border-radius: 5px;
  color: #ffffff;
  font-family: Ubuntu;
  font-size: 13px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  padding-top: 13px; }

.greeting__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.greeting__column {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1; }

.greeting__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;;}

.greeting__title_type-orange {
  color: #f9b43b;
  font-family: Gagalin;
  font-size: 72px;
  font-weight: 400;
  line-height: 85px; 
  padding-top: 84px;
}

.greeting__title_type-white {
  width: 406px;
  height: 213px;
  color: #ffffff;
  font-family: Lifehack;
  font-size: 65px;
  font-weight: 500; }

.greeting__image-drops {
  position: absolute;
  top: 144px; }

.arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 95px; }

.arrow__image {
  position: absolute; }

.best {
  background-image: url("../img/backgroung/bg.png");
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.best__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.section__title {
  text-align: center;
  color: #2f3234;
  font-family: Gagalin;
  font-size: 72px;
  font-weight: 400;
  padding-bottom: 57px;
  margin-top: 0; }

.best-list {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 3;
  -ms-flex: 3;
  flex: 3;
  list-style-type: none;
  text-align: center; }

.list__item {
  text-align: center; }

.best__subtitle {
  color: #2f3234;
  font-family: Lifehack;
  font-size: 24px;
  font-weight: 500;
  line-height: 28.14px;
  letter-spacing: -0.6px; }

  .best__description {

  opacity: 0.8;
  color: #2f3234;
  font-family: Ubuntu;
  font-size: 14px;
  font-weight: 300;
  line-height: 24.02px;
  }

.reviews {
  min-height: 650px;
  height: 100%; }

.reviews-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.reviews__item {
  width: 25%;
  height: 50%;
  background-size: cover; }

.reviews__description {
  margin: 90px 20px 102px 20px; }

.reviews__description {
  visibility: hidden;
  color: #ffffff;
  font-family: Ubuntu;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px; }

.reviews__item:hover .reviews__description {
  visibility: visible; }

.reviews__link {
  width: 110px;
  height: 35px;
  background-color: #2f3234;
  border-radius: 5px;
  text-decoration: none;
  color: white;
  text-align: center;
  text-decoration: none;
  padding: 13px 15px 13px 11px; }



.number__page_list {
  position: fixed;
  top: 90px;
  right: 49px;
  z-index: 50; }

li.number__page_list_item {
  display: block;
  color: #fff;
  margin-bottom: 15px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #fff;
  z-index: 300;
  position: relative; }

  .team {
    background-image: url("../img/backgroung/team-bg.png");
    background-size: cover;
    display: flex;
    justify-content: flex-end;
}

.team-content {
    background-image: url("..img/backgroung/rectangle.png");
    position: absolute;
    width: 540px;
    height: 650px;
    background-color: #2f3234;
    opacity: 0.93;
    display: flex;

}

.container {
    margin: 0 auto;
}

.title__team {
    color: #f9b43b;
    font-family: Gagalin;
    font-size: 72px;
    font-weight: 400;
    line-height: 64.04px;
    margin-top: 113px;
}

.accordeon {
    margin-top: 57px;
} 

.accordeon__item {
    list-style-image: url("../img/icons/polygon.png");
    /*padding-bottom: 40px;*/
} 
.accordeon__name_title {
    color: #ffffff;
    font-family: Gagalin;
    font-size: 14px;
    font-weight: 400;
    line-height: 28.13px;

}

.accordeon__block_team {
    display: flex;
    height: 95px;



}

.accordeon__block_team_hidden {
    display: flex;
    height: 95px;
    display: none;
    overflow: hidden
}


accordeon__block_team_hidden {
    display: flex;
    height: 95px; 
}

.accordeon__photo {
    width: 100px;
    height: 100px;
    margin-right: 21px;
}

.accordeon__description {
  width: 208px;
    color: #ffffff;
    font-family: Ubuntu;
    font-size: 14px;
    font-weight: 300;
    line-height: 24.01px;
}

.menu {
    background-image: url("../img/backgroung/burger-bg.png");
    background-size: cover;
    display: flex;
    justify-content: flex-end;
}

.menu-list {
    list-style-type: none;
    display: flex;
    margin: 0;

}

.menu__item {
    width: 80px;
    height: 650px;
}

.menu__item_description {
    width: 200px;
    height: 650px;
    width: 222px;
    height: 133px;
    color: #ffffff;
    font-family: Ubuntu;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    display: none;
    overflow: hidden;
}
.menu__item_title {
   transform: rotate(270deg);
    color: #ffffff;
    font-family: Gagalin;
    font-size: 40px;
    font-weight: 400;
    line-height: 63.75px;
    margin-top: 510px;
    white-space: nowrap;
}

.contancts {
    background-image: url("../img/backgroung/card.png");
    background-size: cover;
    display: flex;
    align-items: flex-end;
}

.footer {
    background-image: url("../img/content/chalkboard.png");
    width: 1100px;
    height: 58px;
}

.footer-container {
    width: 940px;
    height: 38px;
    margin: 10px 80px;
    display: flex;
    justify-content: space-between;
}


.footer__adress {
    color: #ffffff;
    font-family: Ubuntu;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
}

.footer__phone {
    color: #e45028;
    font-weight: 700;
}

.icon__image {
    padding-right: 20px;
    
}

.form {
    /*background-image: url("../img/backgroung/bg-texture.png");*/
    /*background-size: cover;*/
    background: #000;
}

.form-container {
    width: 940px;
    margin: 0 auto;
}
.form__title {
    color: #fff;
}

.form__block {
    display: block;
    flex: 1;
    margin-right: 40px;
}

.form__row {
    margin-bottom: 20px;
    display: flex;
}

.forn__input {
    padding: 10px;
    background: #fff;
    border: none;
    border-radius: 5px;
    width: 100%;
}
.section-title {
    text-align: center;
    margin-top: 138px;
    color: #f9b43b;
    font-family: Gagalin;
    font-size: 72px;
    font-weight: 400;
    line-height: 63.99px;
}





.slider {
    background-image: url(../img/backgroung/bg-slider.png);
    background-size: cover;
}

.slider-container {
    display: flex;
    width: 1009px;
    height: 457px;
    margin: 0 auto;
    /*text-align: center;*/
    align-items: center;
    margin-top: 90px;
}

.slider__burger {
    margin-top: 167px;
}

.slider__description {
    width: 495px;
    height: 355px;
    margin-top: 145px;
    display: flex;
    flex-direction: column;
    /*justify-content: space-between;*/*
}

.slider__description_title {
    color: #ffffff;
    font-family: Gagalin;
    font-size: 72px;
    font-weight: 400;
    line-height: 63.93px;
    padding-bottom: 56px;
}

.slider__description_content {
    color: #ffffff;
    font-family: Ubuntu;
    font-size: 14px;
    font-weight: 300;
    line-height: 23.97px;
    padding-bottom: 36px;
}

.slider__order {
    width: 330px;
    height: 62px;
    display: flex;
    justify-content: space-between;
}

.slider__order_price {
    color: #e35028;
    font-family: Gagalin;
    font-size: 30px;
    font-weight: 400;
    line-height: 28.08px;
}

.amount_price {
    font-size: 72px;
    letter-spacing: -1.79px;
    letter-spacing: -0.75px;
}

.order {
    width: 98px;
    height: 35px;
    background-color: #e45028;
    color: #ffffff;
    font-family: Ubuntu;
    font-size: 13px;
    font-weight: 500;
    line-height: 29.96px;
    text-transform: uppercase;
}


