.footer {
    background-image: url("../img/content/chalkboard.png");
    width: 100%;
    background-size: cover;
}

.footer__container {
    display: flex;
    justify-content: space-between;

    @include phone {
        flex-direction: column;
        align-items: center;
    }
}

.footer__column {
    display: flex;
    flex-direction: column;
    margin-top: 10px;

}



.footer__adress {
    color: #ffffff;
    font-family: Ubuntu;
    font-size: 14px;
    margin: 0;
}

.footer__phone {
    color: #e45028;
    font-weight: 700;
    @include phone {
        margin: 0 auto;
    }
}

.icon__list {
    width: 142px;
    height: 20px;
    display: flex;
    list-style-type: none;
    @include phone {
        margin-left: -1.8rem;
    }

}

.icon__image {
    padding-right: 20px;
    
}

.icon {
    display: inline-block;
    vertical-align: middle;
    margin-right: 20px;
    fill: grey;
    width: 25px;
    height: 23px;
    &:hover {
        fill: #fff;
    }
    opacity: 0.3;

   /* &:first-child {
        margin-right: 0;
    }*/
}