.accordeon__name_title {
    color: #ffffff;
    font-family: Gagalin;
    font-size: 14px;
    font-weight: 400;
    line-height: 28.13px;
    text-decoration: none;
    display: flex;

    @include phone {
        font-size: 1.625rem;
    }
}

.accordeon__name_title:before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border: 0.4rem solid transparent;
    border-top-color: #f9b43b;
    border-bottom-width: 0;
}


.accordeon__block_team {
    display: flex;
    height: 95px;

    @include phone {
        flex-direction: column;
        align-items: center;
    }

}

.accordeon__block_team_hidden {
    display: flex;
    height: 95px;
    display: none;
    overflow: hidden;
}


accordeon__block_team_hidden {
    display: flex;
    height: 95px; 
}

.accordeon__photo {
    width: 100px;
    height: 100px;
    margin-right: 21px;
}

.accordeon__description {
  width: 208px;
    color: #ffffff;
    font-family: Ubuntu;
    font-size: 14px;
    font-weight: 300;
    line-height: 24.01px;

    @include phone {
        font-size: 1,2rem;
        text-align: center;
    }
}

.accordeon {
    @include phone {
        align-items: center;
        display: flex;
        justify-content: center;
    }

}
.accordeon-list {
    list-style-type: none;
    @include phone {
        display: flex;
        flex-direction: column;
    }

}

.accordeon__item {
    padding-bottom: 2rem;
}