.team {
    background-image: url("../img/backgroung/team-bg.png");
    background-size: cover;
    display: flex;
    position: relative;
}
.team__container {
    position: absolute;
    width: none;
    top: 0;
    bottom: 0;
    right: 0;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 5rem;
    background-color: #2f3234;
    opacity: 0.93;
}

.team__content {
    display: flex;
    flex-direction: column;
}

.title__team {
    color: #f9b43b;
    font-family: Gagalin;
    font-size: 72px;
    font-weight: 400;
}


