.team {
    background-image: url("../img/backgroung/team-bg.png");
    background-size: cover;
    display: flex;
    justify-content: flex-end;
}

.team-content {
    background-image: url("..img/backgroung/rectangle.png");
    position: absolute;
    width: 540px;
    height: 650px;
    background-color: #2f3234;
    opacity: 0.93;
    display: flex;

}

.team__container {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 5rem;

    @include phone {
        display: flex;
        align-items: center;
    }
}

.title__team {
    color: #f9b43b;
    font-family: Gagalin;
    font-size: 72px;
    font-weight: 400;
}