html,body {
    height: 100%;
    @include phone {
        /*width: 90%;*/
        max-width: 90%;

    }
  
  }
  
  body {
      margin: 0;
      
  }
  
  section {
      min-height: 650px;
      height: 100vh;


  
  }

  .wrapper {
    position: relative;
    overflow: hidden;
    width: 100%;
    min-width: 960px;
    min-height: 100%;

   @include phone {
       min-width: inherit;
   }


  }