html,body {
    height: 100%;
    font-size: 1rem;
    margin: 0;
    @include phone {
        max-width: 90%;
    } 
  }
  
  
  section {
    height: 100vh;
    min-height: 40.625rem;

    @include phone {
        min-width: inherit;
    } 


  
  }

  .wrapper {
    position: relative;
    overflow: hidden;
    width: 100%;
    min-width: 960px;
    min-height: 100%;

   @include phone {
       min-width: inherit;
   }

  }

  .container {
      width: 60rem;
      margin: 0 auto;
      height: 100%;

      @include phone {
        min-width: inherit;
    } 
  }