
.slider {
    background-image: url(../img/backgroung/bg-slider.png);
    background-size: cover;
    display: flex;
    
    
}

.slider__container {
    display: flex;

}

.slider__content {
    display: flex;
    align-items: center;  
      @include phone {
        flex-direction: column;
    }
}

.burger__characters {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 485px;

    @include phone {
        flex-direction: row;
        height: 0;
    }
}

.consist {
    width: 92px;
    height: 92px;
}

.consist__image {
    fill: #fff;
    width: 3.8rem;
    opacity: .5;
}

.title__kkal {
    color: #fff;
    font-size: 14px;
    font-family: Gagalin;
    padding: 0;
    margin: 0;
    position: absolute;
}

.slider__image {
    padding-right: 20px;
    /*width: 462px;*/
}

.slider__description {
    display: flex;
    flex-direction: column;

}

.slider__description_title {
    color: #ffffff;
    font-family: Gagalin;
    font-size: 72px;
    font-weight: 400;
    line-height: 63.93px;
    padding-bottom: 56px;

    @include phone {
        font-size: 2,125rem;
        margin: 0;
        margin-top: 1.5rem;
    }
}

.slider__description_content {
    color: #ffffff;
    font-family: Ubuntu;
    font-size: 14px;
    font-weight: 300;
    line-height: 23.97px;
    @include phone {
        font-size: 0,875rem;
    }
}

.slider__order {
    display: flex;
    justify-content: space-between;
}

.slider__order_price {
    color: #e35028;
    font-family: Gagalin;
    font-size: 30px;
    font-weight: 400;
    line-height: 28.08px;
}

.amount_price {
    font-size: 72px;
    letter-spacing: -1.79px;
    letter-spacing: -0.75px;
}


