
.slider {
    background-image: url(../img/backgroung/bg-slider.png);
    background-size: cover;
}

.slider__container {
    height: 100%;
    display: flex;
}

.slider__content {
    display: flex;
    align-items: center;
}

.slider__description {
    width: 495px;
    height: 355px;
    margin-top: 145px;
    display: flex;
    flex-direction: column;
}

.slider__description_title {
    color: #ffffff;
    font-family: Gagalin;
    font-size: 72px;
    font-weight: 400;
    line-height: 63.93px;
    padding-bottom: 56px;
}

.slider__description_content {
    color: #ffffff;
    font-family: Ubuntu;
    font-size: 14px;
    font-weight: 300;
    line-height: 23.97px;
    padding-bottom: 36px;
}

.slider__order {
    width: 330px;
    height: 62px;
    display: flex;
    justify-content: space-between;
}

.slider__order_price {
    color: #e35028;
    font-family: Gagalin;
    font-size: 30px;
    font-weight: 400;
    line-height: 28.08px;
}

.amount_price {
    font-size: 72px;
    letter-spacing: -1.79px;
    letter-spacing: -0.75px;
}

.slider-arrow-left {
        transform: rotate(90deg);
        margin-right: 15px;
    }

.slider-arrow-right {
        transform: rotate(270deg);
    }


