
.form__colunm {
    flex: 1;
}

.form__title {
    color: #fff;
    display: inline-block;
}

.form__block {
    display: block;
    flex: 1;
    margin-right: 40px;
    
}

.form__block_radio {
    display: flex;
    width: 150px;
    white-space: nowrap; 
    
}

.form__block_checked {
    display: flex;
    width: 150px; 
    white-space: nowrap;    
}

.form__row {
    margin-bottom: 20px;
    display: flex;
}

.form__input {
    padding: 10px;
    background: #fff;
    border: none;
    border-radius: 5px;
    width: 100%;
}
.section-title {
    text-align: center;
    color: #f9b43b;
    font-family: Gagalin;
    font-size: 72px;
    margin: 0;
    margin-bottom: 51px;
}

.comment {
    height: 95px;
}

.clear {
    color: #ffffff;
    font-family: Ubuntu;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    margin-left: 20px;
}

.icon__phone {
    width: 12px;
    height: 11px;
    fill: #e45028;
}

.footer__link_phone {
    text-decoration: none;
    color: #e45028;
    display: flex;
}
