.greeting__container {
    display: flex;
    align-items: center;

    @include phone {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 85%;
        align-items: flex-start;
    }  
}

.greeting__column {
    flex: 1;
   

}

.greeting__image {
    @include phone {
        width: 100%;

    }   
}
.greeting__title {
    display: flex;
   flex-direction: column;
   margin-top: 100px;

   @include phone {
    align-items: center;

}

}


.greeting__title_type-orange {
    color: #f9b43b;
    font-family: 'gagalinregular';
    font-size: 72px;
    font-weight: 400;
    line-height: 85px;

    @include phone {
        font-size: 3.0625rem;

    } 
}

.greeting__title_type-white {
    width: 406px;
    height: 213px;
    color: #ffffff;
    font-family: Lifehack;
    font-size: 65px;
    font-weight: 500;

    @include phone {
        font-size: 3.4375rem;

    } 
}
.greeting__image-drops {
    position: absolute;
    top: 144px;
    
}

.greeting {
    width: 940px;
    margin: 0 auto;
    justify-content: center;
    flex: 1;

    @include phone {
        width: 30rem;
        margin: 0;

    } 
    
}

.team__container {
    width: 940px;
    margin: 0 auto;
}