.greeting {
    width: 95%;
}

.greeting__container {
    display: flex;
    

    @include phone {
        flex-direction: column;
        align-items: center;
        width: 30rem;
    }
 
}

.greeting__column {
    flex: 1;
}

.greeting__title {
    display: flex;
   flex-direction: column;
   margin-top: 100px;

}


.greeting__title_type-orange {
    color: #f9b43b;
    font-family: 'gagalinregular';
    font-size: 72px;
    font-weight: 400;
    line-height: 85px;

}

.greeting__title_type-white {
    width: 406px;
    height: 213px;
    color: #ffffff;
    font-family: Lifehack;
    font-size: 65px;
    font-weight: 500;

}
.greeting__image-drops {
    position: absolute;
    top: 144px;
    
}

.greeting {
    width: 940px;
    margin: 0 auto;
    justify-content: center;
    flex: 1;

    @include phone {
        width: 95%;
    }

    
}

