.greeting__container {
    display: flex;
    align-items: center;

    @include phone {
        flex-direction: column;
        align-items: center;
        width: 480px;
    }  
}

.greeting__column {
    flex: 1;
    @include phone {
        flex-direction: column;

    }   

}

.greeting__image {
    @include phone {
        width: 100%;

    }   
}
.greeting__title {
    display: flex;
   flex-direction: column;
   margin-top: 100px;

}


.greeting__title_type-orange {
    color: #f9b43b;
    font-family: 'gagalinregular';
    font-size: 72px;
    font-weight: 400;
    line-height: 85px;

    @include phone {
        font-size: 60px;

    } 
}

.greeting__title_type-white {
    width: 406px;
    height: 213px;
    color: #ffffff;
    font-family: Lifehack;
    font-size: 65px;
    font-weight: 500;

    @include phone {
        font-size: 55px;

    } 
}
.greeting__image-drops {
    position: absolute;
    top: 144px;
    
}

.greeting {
    width: 940px;
    margin: 0 auto;
    justify-content: center;
    flex: 1;
    
}

.team__container {
    width: 940px;
    margin: 0 auto;
}