.order {
    background-color: #c1401e;
    border-radius: 5px;
    color: #ffffff;
    font-family: Ubuntu;
    font-size: 13px;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    padding: 13px 16px 13px 15px;

    @include phone {
        margin-left: 15px;
    }
}